<label for="">First Name</label>
{{input value=firstName}}<br>
<label for="">Last Name</label>
{{input value=lastName}}<br>
<label for="">About</label>
{{textarea value=about}}<br>
<button {{action "create"}} {{bind-attr disabled=isInvalid }}>Create</button>